<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="static 'css/styles.css'">
        <title>{% block title %}Recipe Book{% endblock %}</title>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <h1>{% block header %}Recipe Book{% endblock %}</h1>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'ledger:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'ledger:login' %}">
            <button type="button">Login</button>
        </a>
        {% endif %}
        {% block scripts %}{% endblock %}
    </body>
</html>